<div>
  <h2>Scooters in your neighbourhood:</h2>

  <div class="d-flex flex-sm-row flex-column">
    <div class="p-2">
      <table class="table table-sm">
        <thead>
          <tr class="table-active">
            <th scope="col">Tag</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody *ngFor="let scooter of scooters; let i = index" (click)="selectScooter(i)">
          <tr [ngClass]="{'selected': selected === i}" class="scooter_selector">
            <td>{{scooter.tag}}</td>
            <td>{{scooter.status}}</td>
          </tr>
        </tbody>
      </table>

      <button class="btn btn-primary" (click)="addRandomScooter()">Add Scooter</button>
    </div>
    <div class="mr-auto p-2">
      <app-detail2 [targetScooter]="selectedScooter" (scooterToDelete)="deleteScooter()"></app-detail2>
    </div>
  </div>
</div>