<div class="container">
  <h2>A list of scooters in your neighbourhood:</h2>

  <div class="table-responsive">
    <table class="table table-sm">
      <thead>
        <tr class="table-active">
          <th scope="col">Id</th>
          <th scope="col">Tag</th>
          <th scope="col">Status</th>
          <th scope="col">Location</th>
          <th scope="col">Mileage</th>
          <th scope="col">Battery charge</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let scooter of scooters">
          <td>{{scooter.id}}</td>
          <td>{{scooter.tag}}</td>
          <td>{{scooter.status}}</td>
          <td>{{scooter.gpsLocation}}</td>
          <td>{{scooter.mileage}}</td>
          <td>{{scooter.batteryCharge}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <button class="btn btn-primary float-right" (click)="addRandomScooter()">Add Scooter</button>
</div>
