<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Scooters
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item"  routerLink="/scooters/overview1" routerLinkActive="active">Overview 1</a>
                    <a class="dropdown-item"  routerLink="/scooters/overview2" routerLinkActive="active">Overview 2</a>
                    <a class="dropdown-item"  routerLink="/scooters/overview3" routerLinkActive="active">Overview 3</a>
                    <a class="dropdown-item"  routerLink="/scooters/overview4" routerLinkActive="active">Overview 4</a>
                    <a class="dropdown-item"  routerLink="/scooters/overview41" routerLinkActive="active">Overview 41</a>
                    <a class="dropdown-item"  routerLink="/scooters/overview4qp/edit" routerLinkActive="active">Overview 4qp</a>
                    <a class="dropdown-item"  routerLink="/scooters/overview5" routerLinkActive="active">Overview 5</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Trips</a>
            </li>
        </ul>
        <div class="navbar-item">
            <a class="nav-link" routerLink="/signup" routerLinkActive="active">Sign up</a>
        </div>
        <div class="navbar-item">
            <a class="nav-link" routerLink="/sign-on" routerLinkActive="active">Sign in</a>
        </div>
    </div>
</nav>
